{% extends "base.html" %}

{% block content %} 

    <main>
      <div class="main-div">
        <h1 class="heading">Twitter Thread Saver</h1>
        <div class="main-btn-container">
          <div class="button button-active main-button">
            <a href="/register">Sign up</a>
          </div>
        </div>
        <div class="alt-text">
          Already have an account?
          <span class="alt-link"><a href="/login">Log in</a></span>
        </div>
      </div>
    </main>

{% endblock %}