*{
    list-style-type:none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Roboto;
}
/* @font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-Regular.ttf");
} */
.button {
    background-color:white;
    border: 2px solid #1da1f2;
    width:110px;
    height: 45px;
    border-radius: 26px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#1da1f2;    
}
.button-active {
    background-color: #1da1f2;
    color: white;
}

.button:hover{
    background-color: #1da1f2;
    color: white;  
}
.button-active:hover{
    background-color:white;
    border: 2px solid #1da1f2;
    color:#1da1f2;    
    /* text-decoration: underline; */
}


.nav-ul{
    display:flex;
    justify-content: end;
}
nav {
    /* border: 1px solid black; */
    margin: 0px 50px;
}
.nav-button{
    margin: 0px 15px;
}

.main-div {
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
height: 60vh;
}
.main-button{
    width:350px;
    height:80px;
    border-radius: 100px;
    margin: 10px;
    font-size: 40px;
    font-weight: 700;
}
.heading{
    color:#1da1f2;
    font-weight: 500;
    font-size: 50px;
}
.alt-link a{
    color:#1da1f2;
    font-weight: 500;
}
.alt-text{
    font-weight: 200;
}