:root {
  --bg: white;
}
* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Roboto;
}
body {
  margin: 0;
  background-color: var(--bg);
}

.button {
  background-color: var(--bg);
  border: 2px solid #1da1f2;
  height: 45px;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1da1f2;
  cursor:pointer;
}
.button-active {
  background-color: #1da1f2;
  color: white;
}

.button:hover {
  background-color: #1da1f2;
  color: white;
}
.button-active:hover {
  background-color: white;
  border: 2px solid #1da1f2;
  color: #1da1f2;
  font-weight: 700;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0px;
  flex-basis: 100px;
}
.nav-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav {
  margin: 0px 0%;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}
.main-content {
  width: 80%;
  flex: 4;
}
.nav-button {
  margin: 25px 0px;
  width: inherit;
  width: 100px;
}

.main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  min-height: 70vh;
  justify-content: space-between;
}
.main-button {
  flex-basis: 350px;
  height: 80px;
  border-radius: 100px;
  margin: 10px;
  font-size: 40px;
  font-weight: 700;
  color: white;
}
.main-button a {
  color: inherit;
  width: 100%;
  text-align: center;
}
.main-btn-container {
  display: flex;

  width: 100%;
  justify-content: center;
}
.heading {
  color: #1da1f2;
  width: 500px;
  font-weight: 500;
  font-size: 2.5em;
}
.alt-link a {
  color: #1da1f2;
  font-weight: 500;
}
.alt-text {
  font-weight: 200;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
.footer-container {
  display: flex;
  flex-direction: column;
}
.footer-img {
  height: auto;
  width: 50px;
}
.footer-icon {
  align-self: center;
}
.footer-text {
  color: black;
  font-family: monospace;
  font-weight: bolder;
  font-size: 14px;
}
.footer-text:hover {
  text-decoration: underline;
}

.input-field {
  height: 60px;
  width: 80%;
  left: 514px;
  top: 291px;
  border-radius: 10px;
  background: #f7fdff;
  margin: 0px 0 5px 0;
  font-size: 1.25em;
}
.input-button {
  font-size: 30px;
  height: 70px;
  max-height: 80px;
  max-width: 300px;
  justify-self: center;
  margin: auto;
}

::placeholder {
  font-size: 1em;
  font-family: Coda;
}

input:focus {
  border-radius: 10px;
  border-color: #1da1f2;
  outline: none;
}

.form-elements {
  display: flex;
  justify-content: center;
}
.main-form {
  width: 450px;
}

@media only screen and (max-width: 550px) {
  .main-left {
    display: none;
  }
 .heading {
    font-size: 1.3em;
    font-weight: bolder;
    width:auto;
    font-size:7vw;
  }
  .header-container {
    justify-content: flex-start;
  }
}

.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  justify-content: center;
}
.logo {
  height: auto;
  margin: 0px 30px;
  width: 40px;
}
.header-container {
  display: flex;
  align-items: center;

  flex-basis: 500px;
  flex-grow: 0;
}
.main-right {
  flex: 1;
  display: flex;
  align-items: center;
}
.main-left ul{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-a {
  width: inherit;
  cursor:default;
}
.main-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-element {
  background-color: #d3eeff;
  cursor: pointer;
  border-radius: 16px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  max-width: 600px;
  font-size: 20px;
  border: 2px solid transparent;
  flex-direction: column;
}
.button-icon {
  height: auto;
  width: 20px;
  color: #1da1f2;
}
.button-icon:hover {
}
.no-display {
  display: none;
}
.selected {
  background-color: #b9e4ff;
  border: 2px solid #1da1f2;
}

@media only screen and (min-width: 1000px) {
  .main-content {
    flex: 2;
  }
  body {
    padding: 0 50px;
  }
}
.tName {
  opacity: 0.7;
  display: inline-block;
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 17px;
  font-family: Roboto;
  color: #019eff;
}
.tUserName {
  opacity: 0.5;
  display: inline-block;
  margin: 0;
  font-size: 15px;
}

.sticky-left {
  position: fixed;
  top: 30%;
  left: 10%;
}
.sticky-right {
  position: fixed;
  top: 30%;
  right: 10%;
}

@media only screen and (max-width: 1000px) {
  .sticky-left {
    position: fixed;
    top: 30%;
    left: 3%;
  }
  .sticky-right {
    position: fixed;
    top: 30%;
    right: 3%;
  }
}
@media only screen and (max-width: 1200px) {
  .sticky-left{
    left:2%;
  }
  .sticky-right {
    right:2%;
  }
}
@media only screen and (max-width: 970px) {
  .main-left {
    display: none;
  }
 
}
@media only screen and (min-width: 1500px) {
  .sticky-left {
    position: fixed;
    top: 30%;
    left: 18%;
  }
  .sticky-right {
    position: fixed;
    top: 30%;
    right: 18%;
  }
}
.tweet-img {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
}
.main-element-container {
}
.main-element-withimage {
  display: flex;
}
.user-container {
  display: flex;
  align-items: center;
  margin-right: 10%;
  display: none;
}
.user-name {
  font-size: 18px;
}
.user-img {
  height: auto;
  width: 65px;
  border-radius: 50%;
}
.name-btn {
  width: fit-content;
  padding: 7px;
  font-weight:bold;
}
.name-btn:hover{
  background-color: white;
  border-color: #ff7c7c;
  color:#ff7c7c;
  width:170px;
}
.wider{
  width:170px;
}
